//配色
$colors: (
  main: #ff9994,
  second: #ffc86b,
  third: #feb17d,
  forth: #fee66f,
  fifth: #fff2a3,
);

//各主區塊
%block-style {
  display: flex;
  margin: 0 auto; //區塊左右置中
  width: 85%;
  font-family: "Nunito", sans-serif;
}

//開始與結束banner
%start-end-banner {
  position: absolute;
  z-index: 999;
  top: 35vh;
  padding: 20px;
  min-width: 720px;
  background-color: rgba(
    $color: map-get($map: $colors, $key: main),
    $alpha: 0.9
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  animation-name: banner;
  animation-duration: 2s;

  @keyframes banner {
    from {
      top: 0;
    }
    to {
      top: 35vh;
    }
  }

  .bannerTitle {
    @extend %block-style;
    justify-content: center;
    background-color: map-get($map: $colors, $key: second);
    box-shadow: 10px 5px 0
      rgba($color: map-get($map: $colors, $key: second), $alpha: 0.5);

    img {
      max-width: 3em;
    }

    h2 {
      padding: 0.5em 0.5em 0 0.5em;
    }
  }

  ul {
    @extend %block-style;
    background-color: map-get($map: $colors, $key: fifth);
    justify-content: center;
    list-style: none;
    padding: 0;
    font-weight: bolder;
    box-shadow: 10px 5px 0
      rgba($color: map-get($map: $colors, $key: fifth), $alpha: 0.5);

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      font-size: 20px;

      img {
        max-width: 3em;
      }
    }
  }

  button {
    @extend %block-style;
    justify-content: center;
    margin-top: 20px;
    background-color: map-get($map: $colors, $key: second);
    width: 20%;
    font-size: 25px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 15px;
    border-color: #f5dcd1;
    border-width: 3px;
    color: #ff6861;
    box-shadow: 0 1px 0 #cfcfcf;
  }
}

body {
  min-width: 720px;
}

#header {
  @extend %block-style;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;

  .title {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 3em;
    }

    h2 {
      padding-left: 0.5em;
      padding-top: 0.5em;
    }
  }

  .round {
    margin: 0;
    color: map-get($map: $colors, $key: third);
    font-weight: bolder;
  }

  .score {
    margin: 0;
    color: map-get($map: $colors, $key: main);
    font-weight: bolder;
  }

  .tried {
    margin: 0;
    color: map-get($map: $colors, $key: second);
    font-weight: bolder;
  }
}

#cards {
  @extend %block-style;
  flex-wrap: wrap;
  border: 1px solid #000;
  margin-bottom: 20px;

  .card {
    box-sizing: border-box;

    flex: 7% 1 1;
    height: 8vw;
    border: 2px solid #e0e0e0;
    margin: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      max-width: 30%;
      align-self: center;
    }

    p {
      margin: 3px;
      font-size: 10px;
      &:last-child {
        transform: rotate(180deg);
      }
    }
  }

  .back {
    background: url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/9222/ExportedContentImage_00.png");
    background-size: cover;
  }

  .paired {
    background-color: #dae0e3;
  }

  .wrong {
    animation-name: wrongAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 5;
  }

  @keyframes wrongAnimation {
    to {
      border: 2px solid map-get($map: $colors, $key: fifth);
    }
  }
}

.start,
.completed {
  @extend %start-end-banner;
}
